# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
android
ios
modules

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.cursorrules
debug.keystore

#idea
.idea

# macOS
.DS_Store
*.pem

# nixOS
.direnv
.envrc
result

# local env files
.env.local
.local

# typescript
*.tsbuildinfo

app-example
.aider*
.env

# portal lib
portalBuild/portal*

# firebase stuff
portal-*.json
google-services.json

# vscode
.vscode
